*{
  margin: 0px;
  padding: 0px;
}

.container {
  background-color: azure;
  padding: 30px 15px;

}
.container h3{
  margin-bottom: 15px;
}
.container h3.red_head {
  color: cornflowerblue;
}
.container button {
  padding: 10px 20px;
  background-color:cornflowerblue;
  border: 0px;
  color: white;
  font-weight: bold;
}
.container ul {
  margin-top: 15px;
}
.container ul li {
  padding: 5px 10px;
  list-style-type: none;
}
